html {
    min-height: 100%;
    position: relative;
}

body {
  /*padding-bottom: 60px;*/
  background-color: #CCCCCC;
  background-image: url('../img/background4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
  font-family: Times, sans-serif;
}

body > .container {
    padding: 65px 10px 0;
}

body > .row {
    margin: 10px;
}

.easy_text {
  color: white;
  text-align: center;
  background-color:black;
  z-index:0;
  opacity:0.5;
}

/* About / Header name */
.about {
  color: white;
  text-align: center;
}

a:link {
  color: red;
}



h1.name {
  color: black;
  text-align: center;
}

.black {
  background-color: black;
}

/* Center text with no background. */
.center_text_nohighlight {
  color: black;
  text-align: center;
}

/* Center text */
.center_text {
  color: white;
  text-align: center;
  font-family: Raleway;
  font-weight:900;
  background-color:black;
  z-index:0;
}

/* Left align text */
.left_align {
  color: black;
  text-align: left;
  font-family: Raleway;
}
